* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d2cfcf;
}

.todo__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 2rem;
}

.header {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.main {
    padding: 4rem 6rem;
    background-color: #fafafa;
    border-radius: 10px;
    position: relative;
}
.main__text {
    font-size: 1.2rem;
}

.btn__delete {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background-color: #810040;
    color: #fff;
    cursor: pointer;
}

.btn__delete:hover {
    background-color: #a20a56;
}

.label__confirm {
    position: fixed;
    top: 40%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 8rem;
    background-color: #fafafa;
    /* margin: 0 30%; */
    border-radius: 10px;
    z-index: 100;
    display: none;
}

.label__text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.btn__cancel {
    margin-right: 20px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid #810040;
    background-color: transparent;
    color: #810040;
    cursor: pointer;
}

.btn__cancel:hover {
    background-color: #a20a56;
    color: #fff;
}

.btn__confirm {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background-color: #810040;
    color: #fff;
    cursor: pointer;
}

.btn__confirm:hover {
    background-color: #a20a56;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

.display {
    display: block;
}
